@CHARSET "ISO-8859-1";

html, body, ul, ol, li, img, p, h1, h2, h3, h4, h5, h6, form, fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color:#e3e7e9;
	min-width:1000px;
}

body a{
	outline:none;
}

h2 {
	color: #4F565A;
	font-size: large;
}

h3 {
	color: #4F565A;
	font-size: medium;
	padding-bottom: 5px;
}

h4 {
	font-size: small;
}

p{
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
}

.clear_both{
	clear:both;
}

.wrapper{
	background-color:#f1f3f4;
	padding:25px 0 15px 0;
}

.content{
	width:1000px;
	margin:0 auto;
}

.bg_gradient{
	background-color:#25303a;
	background-image: url(/images/background.png);
	background-repeat: no-repeat;
	background-position: center top;	
}

.breadcrumbs {
	font-size: 14px;
	color: #fff;
	padding: 10px;
	display: inline-block;
}

.breadcrumbs a{
	color: #fff;
	text-decoration: none;
}

.loginout {
	font-size: 14px;
	color: #fff;
	padding: 10px;
	display: inline-block;
	float: right;
}

.loginout a{
	color: #fff;
	text-decoration: none;
}

/* Navigation */

.navigation {
	height:89px;
}

.navigation a.logo{
	float:left;
	display:block;
	width:215px;
	height:89px;
}

.navigation .right{
	float:right;
}

.navigation .right .avatar{
	margin-top:30px;
	background-repeat: no-repeat;
	background-position: right center;
	height:32px;
	float:right;
	display:block;
	width:35px;	
}

.navigation .right .avatar_overlay{
	background-repeat: no-repeat;
	background-position: right center;
	height:32px;
	width:35px;		
}

.navigation .right ul{
	float:left;
	list-style-type:none;
}

.navigation .right ul li{
	float:left;
	margin-left:10px;
}

.navigation .right ul li a{
	font-weight:bold;
	text-decoration:none;
	padding:5px 15px;
	font-size:11px;
	color:#fff;
	line-height:89px;
	-moz-border-radius:20px;
	border-radius:20px;	
	border:1px solid transparent;
}

.navigation .right ul li a span.points{
	color:#586b74;
	margin-left:5px;
}

.navigation .right ul li.active a{
	color:#2e3943;
	background-color:#fff;
}

.navigation .right .login{
	margin-top:33px;
	margin-left:10px;
}

.sub_navigation {
	background-repeat: repeat-x;
	background-position: center top;
	background-color:#F9F9FB;	
	border:1px solid #e4e4e4;
	border-bottom:none;
	font-size:14px;
	-moz-border-radius:15px 15px 0px 0px;
	border-radius:15px 15px 0px 0px;
	font-weight:bold;
	padding: 5px 10px;
}

.sub_navigation ol{
	list-style-type:none;
	float:left;
}

.sub_navigation ol li {
	color:#4f565a;
	float:left;
	line-height:29px;	
	font-family:"Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size:14px;	
}

.sub_navigation ol li a{
	color:#bbb;
}

.sub_navigation ol li.selected a{
	color:#347DB5;
}

.subnavlinks{
	font-size:11px;
	line-height: 14px;
}


/* Pagination */

.pagination{
	font-size:12px;
	padding:10px 15px;		
	border:1px solid #e4e4e4;
	background-repeat: repeat-x;
	background-position: center top;
	background-color:#F9F9FB;
	border-top:none;
	color:#4F565A;
}.pagination .results{
	float:left;
}.pagination .numbers{
	float:right;
}.pagination .numbers a{
	color:#4F565A;
	padding:0 3px;
}.pagination .numbers a.selected{
	color:#c00;
	font-weight:bold;
	text-decoration:none;
}

/* Dropdowns */
.relative_dropdown {
	width:130px;
	float:right;
	margin-left:5px;
	min-height:1px;
}.absolute_dropdown, .absolute_dropdown a{
	color:#636E75;
}.absolute_dropdown{
	width:128px;
	position:absolute;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	-moz-border-radius:10px;
	border-radius:10px;		
	background-color:#fff;
	border:1px solid #e4e4e4;	
}.absolute_dropdown .heading a{
	display:block;
	text-decoration:none;
	padding:7px 10px;
	background-repeat: no-repeat;
	background-position: right center;
	padding-right:25px;
	color:#999;
}.absolute_dropdown .heading.selected a{
	color:#636E75;
}.absolute_dropdown .items{
	padding:3px 5px;
	display:none;
}.absolute_dropdown .items .item a{
	padding:3px 10px;
	display:block;
	text-decoration:none;
	color:#999;
}.absolute_dropdown .items .item a:hover{
	background-color:#fcfcfc;
	color:#347DB5;
	-moz-border-radius:10px;
	border-radius:10px;		
}

/* Footer */

.footer{
	background-repeat: no-repeat;
	background-position: center top;
	background-color:#e3e7e9;
	padding:25px 0;
}

.footer .footer_column{
	float:left;
	width:333px;
}

.footer .footer_column h4{
	color:#5f7179;
	text-shadow:1px 1px #f4f7f8;
	font-family:"Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size:18px;
}

.footer .footer_column ul{
	list-style-type:none;
	border-left:1px solid #d4dadd;
	padding:0 25px;
}

.footer .footer_column ul li{	
	margin-top:10px;
	font-size:12px;
}

.footer .footer_column ul li .highlight{	
	font-weight:bold;
	color:#5f7179;
}

.footer .footer_column ul li, .footer .footer_column ul li a{
	color:#72848c;
	text-shadow:1px 1px #f4f7f8;
}

/* Form styling */

dl {
	margin: 10px 0;
}

dl input {
	padding: 5px;
	background-color:#fff;
	border:1px solid #d4d4d4;
	color:#636E75;
	font-size:12px;
	-moz-border-radius:5px;
	border-radius:5px;
	width: 170px;
}

dl [type=checkbox]{
	padding:0px;
	margin:0px;
	border:none;
	background-color:none;
	-moz-border-radius:none;
	border-radius:none;
	width:14px;
	height:14px;
}

dl select {
	padding: 2px 5px;
	color:#636E75;
}

#submit{
	width: 70px;
}

dt {
	padding: 0 0 5px 0px;
}

dd {
	padding: 0 0 10px 0px;
	margin: 0px;
}

dt label {
	font-size: 12px;
}

dt label.required:before {
	content: "* ";
	color: #ff0000;
}

ul.errors {
	padding: 10px 0 0px 25px;
	color: #ff0000;
	font-size: 12px;
}

p.error {
	padding: 10px 0 0 0;
	color: #ff0000;
	font-size: 12px;
}

.noDisplay{
	display: none;
}

#create-client-form{
	display: inline-block;
}

#order-client-submit{
	float:right;
}

#create-client-submit  #submit{
	width: 130px;
}

#order-client-form{
	display: inline-block;
	float:right;
}

/* Tables */

.createuserlink {
	font-size:12px;
	padding: 5px 15px;
	border:1px solid #e4e4e4;
	background-repeat: repeat-x;
	background-position: center top;
	background-color:#F9F9FB;
	border-top:none;
	border-bottom:none;
}

.createuserlink a{
	color: rgb(52, 125, 181);
}

.spreadsheet .row{
	padding: 5px 0;
	font-size:12px;
	color:#4F565A;
	border:1px solid #e4e4e4;
	border-top: none;
}

.spreadsheet .row.dark{
	background-color:#f2f2f2;
}

.spreadsheet .row.light{
	background-color:#F9F9FB;
}

.spreadsheet .row.headings{	
	background-color:#eaedee;
	color:#8b9093;
	font-weight:bold;
}

.spreadsheet .row .publicKey, .spreadsheet .row .email, .spreadsheet .row .isActive, .spreadsheet .row .canGet, .spreadsheet .row .canPost, .spreadsheet .row .canPut, .spreadsheet .row .canDelete{
	float:left;
	padding:0 15px;
	text-align:center;
}

.spreadsheet .publicKey{
	width: 450px;
}

.spreadsheet .email{
	width: 130px;
}

.spreadsheet .isActive, .spreadsheet .canGet, .spreadsheet .canPost, .spreadsheet .canPut, .spreadsheet .canDelete {
	width: 40px;
}

.green{
	color: rgb(13, 200, 36);
}

.red{
	color: rgb(237, 28, 36);
}

.yellow{
	color: rgb(236, 137, 0);
}

/* General Pages */

.pagecontent{
	background-color:#F9F9FB;	
	border:1px solid #e4e4e4;
	border-bottom:none;
	padding: 29px 40px;
}

.pagecontent strong{
	color:#4f565a;
}

.pagecontent a{
	color:#347db5;
}

.pagecontentbottom{
	background-repeat: repeat-x;
	background-position: center top;
	background-color:#F9F9FB;	
	border:1px solid #e4e4e4;
	border-top:none;
	font-size:14px;
	font-weight:bold;
	padding: 5px 10px;
	-moz-border-radius:0 0 15px 15px;
	border-radius: 0 0 15px 15px;
	margin-bottom:10px;
}

.pagecontentspacer{
	margin-bottom:10px;
}


/* Index Page */

.info{
	margin-top: 10px;
}

.info li{
	list-style-type: none;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
}

.pagecontent span{
	font-size: 12px;
}

.pagecontent .underline {
	text-decoration:underline;
}

.pagecontent p{
	margin-bottom:10px;
}

.pagecontent p:last-child{
	margin-bottom:0px;
}

.pagecontent ul{
	padding-bottom:10px;
}

.pagecontent ul li{
	font-size: 12px;
	margin-left:40px;
}

/* User Account Page */

.useraccount{
	background-color:#F9F9FB;	
	border:1px solid #e4e4e4;
	border-top:none;
	padding: 0 10px 10px 10px;
}



.linkbutton{
	display:inline-block;
	padding: 5px;
	background-color:#fff;
	border:1px solid #d4d4d4;
	color:#636E75;
	font-size:12px;
	-moz-border-radius:5px;
	border-radius:5px;
	text-decoration:none;
	width: 80px;
}

.linkbutton.off{
	color:#d1d4d6;
}

/* Client Admin Page */

.listblock{
	float:left;
	margin: 10px 15px 10px 15px;	
	border:1px solid #e4e4e4;
	-moz-border-radius:15px;
	border-radius:15px;
	padding:10px;
	
}

.listblock ul{
	list-style-type:none;
}


.listblock ul li{
	margin: 5px 0 0 10px;
	color: rgb(79, 86, 90);
}

.listblock ul li a{
	font-weight: bold;
}

#blocklist{
	margin:0;
	padding:0;
}

#blocklist li{
	color: rgb(79, 86, 90);
	list-style-type:none;
	background-color:#F9F9FB;
	border:1px solid #e4e4e4;
	font-size:14px;
	-moz-border-radius:15px;
	border-radius:15px;
	margin:10px 0 0 0;
	padding: 10px 10px;
}

#blocklist span{
	color: rgb(79, 86, 90);
	font-size:14px;
	font-weight: bold;
}

#blocklist p{
	margin-top:10px;
	font-size:14px;
}

/*----README CSS------*/
#readme {
    font: 13.34px helvetica,arial,freesans,clean,sans-serif;
}

#readme h2{
	border-top: 4px solid #CCCCCC;
    color: #4F565A;
    display: block;
    font-size: large;
    margin: 20px 0 15px;
    padding-top: 5px;
}
#readme pre{
    display: block;
    overflow: scroll;
    background-color: #f2f2f2;
    border: 1px solid #aaa;
    padding: 7px 5px;
    color: #333;
}
